<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <a href="{{ base_url }}">{{ site_title }}</a>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">

{% if is_front_page %} <!-- Front page lists all blog posts -->
    {{ content }}
    <div id="posts">
    {% for page in pages %}
        {% if page.date %} <!-- Note we check for Date field (posts) here -->
        <div class="post">
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <p class="meta">{{ meta.date_formatted }} by {% if meta.author %}{{meta.author}}{% else %}HeartCode{% endif %}</p>
            <p class="excerpt">{{ page.excerpt }}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% else %} <!-- Single page shows individual blog post -->

    {% if page.date %} <!-- Note we check for Date field (posts) here -->
    <div class="post">
        {% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
        <p class="meta">{{ meta.date_formatted }} by {% if meta.author %}{{meta.author}}{% else %}HeartCode{% endif %}</p>
        {{ content }}
    </div>
    {% else %} <!-- Single page shows content only -->
    {% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
    {{ content }}
    {% endif %}

{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                        &copy; HeartCode Pte. Ltd.
                </footer>
            </div>
        </div>
    </div>
    <script type="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>