<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="{{ site_title }} RSS Feed" href="{{ base_url }}/feed">
    <meta name="google-site-verification" content="uwm2gk6YK0Z6JqVMwCdzTTSsCiYJ8MEC0I2vCIClOFI" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <a href="{{ base_url }}"><img src="//heartcode.sg/assets/images/web-logo.svg" alt="{{ site_title }}"></a>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">

{% if is_front_page %} <!-- Front page lists all blog posts -->
    {{ content }}
    <div id="posts">
    {% for page in pages %}
        {% if page.date %} <!-- Note we check for Date field (posts) here -->
        <div class="post">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <p class="meta">Written {% if page.author %}by {{page.author}}{% endif %} on {{ page.date_formatted }}{% if page.category %}, in {{ page.category }}{% endif %}</p>
            <p class="excerpt">{{ page.excerpt }} ...</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% else %} <!-- Single page shows individual blog post -->

    {% if meta.date %} <!-- Note we check for Date field (posts) here -->
    <div class="post">
        {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
        <p class="meta">Written {% if meta.author %}by {{meta.author}}{% endif %} on {{ meta.date_formatted }}{% if meta.category %}, in {{ meta.category }}{% endif %}</p>
        {{ content }}
        {% if meta.tags %}<p class="meta">Tagged {% for tag in meta.tags %}<a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a> {% endfor %}</p>{% endif %}
        <div>
            <div class="fb-share-button" data-type="button"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="heartcodesg" data-related="heartcodesg" data-hashtags="heartcode">Tweet to HeartCode</a>
            <div class="g-plusone" data-size="medium"></div>
        </div>
        <div class="well well-sm">
            <small>Have feedback on this post? Let HeartCode know via <a href="https://facebook.com/heartcodesg">Facebook</a>, <a href="https://twitter.com/heartcodesg">Twitter</a> or <a href="http://heartcode.sg/contact">email</a>.</small>
        </div>
    </div>
    {% else %} <!-- Single page shows content only -->
        {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
        {{ content }}
    {% endif %}

{% endif %}
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="social-icons">
                            <a target="_blank" title="HeartCode on Facebook" href="https://facebook.com/heartcodesg">
                                <img alt="HeartCode on Facebook" src="//heartcode.sg/assets/images/icons/facebook.png">
                            </a>
                            <a target="_blank" title="HeartCode on Twitter" href="https://twitter.com/heartcodesg">
                                <img alt="HeartCode on Twitter" src="//heartcode.sg/assets/images/icons/twitter-2.png">
                            </a>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="http://heartcode.sg">HeartCode Home</a></li>
                        <li class="list-group-item"><a href="http://heartcode.sg/about">About HeartCode</a></li>
                        <li class="list-group-item"><a href="http://heartcode.sg/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Recent Posts</div>
                    <ul class="list-group">
                    {% for page in pages|slice(0, 10) %}
                        {% if page.date %}
                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                    <small>&copy; HeartCode Pte. Ltd. &#9829; Made in Singapore. <br> <a href="http://heartcode.sg">Visit our main website too!</a></small>
                </footer>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script src="{{ theme_url }}/asyncloader.js"></script>
    <script>
        var _gaq = _gaq || [['_setAccount', 'UA-34719079-2'], ['_setDomainName', 'blog.heartcode.sg'], ['_trackPageview']];
        AsyncLoader.add(('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js', 'ga');
        {% if not is_front_page %}
        AsyncLoader.add('https://apis.google.com/js/plusone.js', 'gplus');
        AsyncLoader.add('//connect.facebook.net/en_US/all.js#xfbml=1&appId=180508825470385', 'fb-sdk');
        AsyncLoader.add('//platform.twitter.com/widgets.js', 'twitter-wjs');
        {% endif %}
        AsyncLoader.add('//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js', 'jquery');
        AsyncLoader.depends(['jquery'], '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js', 'bootstrap');
        AsyncLoader.add('//heartcode.sg/assets/scripts/instantclick.min.js', 'instantclick', function(){
            InstantClick.init();
        });
    </script>
</body>
</html>