<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <a href="{{ base_url }}">{{ site_title }}</a>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">

{% if is_front_page %} <!-- Front page lists all blog posts -->
    {{ content }}
    <div id="posts">
    {% for page in pages %}
        {% if page.date %} <!-- Note we check for Date field (posts) here -->
        <div class="post">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <p class="meta">Written {% if meta.author %}by {{meta.author}}{% endif %} on {{ page.date_formatted }}</p>
            <p class="excerpt">{{ page.excerpt }}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% else %} <!-- Single page shows individual blog post -->

    {% if meta.date %} <!-- Note we check for Date field (posts) here -->
    <div class="post">
        {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
        <p class="meta">Written {% if meta.author %}by {{meta.author}}{% endif %} on {{ meta.date_formatted }}</p>
        {{ content }}
    </div>
    {% else %} <!-- Single page shows content only -->
        {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
        {{ content }}
    {% endif %}

{% endif %}
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a target="_blank" title="HeartCode on Facebook" href="http://facebook.com/heartcode.sg">
                            <img alt="HeartCode on Facebook" src="http://heartcode.sg/assets/images/icons/facebook.png">
                        </a>
                        <a target="_blank" title="HeartCode on Twitter" href="http://twitter.com/heartcodesg">
                            <img alt="HeartCode on Twitter" src="http://heartcode.sg/assets/images/icons/twitter-2.png">
                        </a>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="http://heartcode.sg">HeartCode Home</a></li>
                        <li class="list-group-item"><a href="http://heartcode.sg/about">About HeartCode</a></li>
                        <li class="list-group-item"><a href="http://heartcode.sg/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Recent Posts</div>
                    <ul class="list-group">
                    {% for page in pages|slice(0, 10) %}
                        {% if page.date %}
                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                    &copy; HeartCode Pte. Ltd.
                </footer>
            </div>
        </div>
    </div>
    <script type="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>