@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css");

body{
    background: #FFF;
    font: normal 14px/1.8 Lucida Sans, Arial, Tahoma, sans-serif;
    color: #222;
    margin: 70px 20px 20px;
}

/* load background for screen only */
@media screen and (min-width: 1024px) {
    body{
        background: #FFF url('../images/background.png') top center no-repeat;
    }
}

#tagLine{
    color:#FF1D17;
    margin:0 0 30px;
    text-align:justify;
    letter-spacing:8px;
    display:none;
}

h1,h2,h3,h4,h5,h6{
    color:#333;
    font-family: Georgia, 'Times New Roman', serif;
}

h2{
    font-size: 30px;
    font-weight: normal;
}

.navbar-default .navbar-toggle,
.navbar-default{
    background:#FDFDFD;
    border-color:#EEE;
}

.navbar-default .navbar-toggle:hover{
    color:#FFF;
    background:#555;
    border:#FFF;
}

ul.nav>li:hover{
background: #e5e5e5;
background: -moz-linear-gradient(top,  #e5e5e5 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #e5e5e5 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top,  #e5e5e5 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #e5e5e5 0%,#f2f2f2 100%);
}

.navbar #hcLogo{
    padding: 7px;
}

.navbar #hcLogo img{
    margin: 0;
}

#tophead{
    margin-bottom: 30px;
}

#tophead #hcLogo{
    margin:0px auto;
}

#lstActivities{
    font-size: 12px;
    margin: 20px 0 20px 20px;
}

#profiles{
    margin-bottom: 20px;
    text-align:center;
}

#profiles img{
    width:25%;
    max-width:90px;
}

footer{
    font-size:10px;
    margin:50px 5px 50px;
}

#frmContact label{
    display:none;
}

.popover-title{
    color: #111;
    font: bold 16px/1.0 Arial, Tahoma, sans-serif;
}

.popover-content{
    font-size:12px;
}

#socialbar{
    margin: 20px 0;
}

#socialbar ul, #socialbar li{
    margin:0px;
    padding:0px;
    text-align:center;
    list-style:none;
}

#socialbar li{
    display:inline-block;
    overflow:hidden;
    width:140px;
    height:20px;
}

#socialbar li iframe, #socialbar li div{
    width:120px;
    margin:0px auto;
}


#socialbar .fb-like{
    height:20px;
}

form>.intercepter{
    display:none;
}

.navbar img{
    margin-top:5px;
}

form label{
    font-weight: normal;
    color: #555;
}

nav.sidemenu{
    margin: 20px 0 10px;
}

#image-lightbox .modal-dialog {
    width:1000px;
}

footer nav .nav-pills{
    margin-left:-10px;
}

footer nav .nav-pills > li > a{
    padding: 5px 10px;
}

.pnlClients .thumbnail{
    float:left;
    display:inline;
    margin: 0 10px 10px 0;
}

.pnlClients img{
    height: 80px;
}

.text-mission-red{
    color:#FF1D17;
}

.lead-lean{
    font-size:140%;
}

.content-header-space{
    margin:20px 0 0;
}

.nav .dropdown-toggle .caret { display:none; }

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }

.dropdown-menu > li > a{
    padding:10px 20px;
}

div.jobs{
    height:300px;
}

div.jobs.jobs-open{
    background: url('../images/jobs-open.png') no-repeat;
}

div.jobs.jobs-opportunities{
    background: url('../images/jobs-opportunities.png') no-repeat;
}

div.jobs.jobs-impact{
    background: url('../images/jobs-impact.png') no-repeat;
}

ul.jobs {
    font-size:130%;
}

img{
    image-rendering:optimizeQuality;
}