@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css");

h1,h2,h3,h4,h5,h6{
    color:#333;
    font-family: Georgia, 'Times New Roman', serif;
}

h2{
    font-size: 30px;
    font-weight: normal;
}

.navbar-default .navbar-toggle,
.navbar-default{
    background:#FDFDFD;
    border-color:#EEE;
}

.navbar-default .navbar-toggle:hover{
    color:#FFF;
    background:#555;
    border:#FFF;
}

/* -------- */

.post{
    margin: 0px 0px 30px;
}

.post .meta{
    color:#aaa;
    font-size:80%;
}

header,footer{
    margin: 30px 0;
}

header img{
    width:270px;
    margin:0px auto;
    display:block;
}

img{
    image-rendering:optimizeQuality;
    display: block;
    height: auto;
    max-width: 100%;
    border-radius:5px;
}

.social-icons img{
    border-radius: 0px;
    display:inline;
}